
.App {
  padding: 120px 0;
  font-size: 12px;
  font-family:'Kumbh Sans',Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  .faq-card-wrapper{
    margin: 0px auto;
    padding: 20px 0;
    width: 90%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #fff;
    .questions-and-answers{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      min-width: 280px;
      padding: 15px 15px 20px;
      .title{
        margin: 0 auto;
        padding-top: 120px;     
        flex-basis: 100%;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
      }
      .answer{
        display: none;
        margin: 15px 0;
        flex-basis: 90%;
        color: hsl(240, 6%, 50%);
      }
      .answer.active{
        display: flex;
      }
      .question{
        line-height: 1;
        flex-basis: 90%;
        cursor: pointer;
        transition: .3s;
      }
      .question:hover{
        color: hsl(14, 88%, 65%);
      }
      .question.active{
        font-weight: 700;
      }
      .arrow-down-icon {
        vertical-align: middle;
        cursor: pointer;
      }
      .arrow-down-icon.active{
        transform: rotate(180deg);
      }
      .divider{
        color: hsl(240, 4%, 91%);
        flex-basis: 100%;
      }
      
    }
    .image-wrapper{
      position: absolute;
      left: 20px;
      top:-106px;
      height: 210px;
      text-align: center;
      .svg-image{
        display: block;
      }
      .bgc-pattern{
        transform: translate(12px,-90px);
      }
    }
  }
  
  .attribution { font-size: 11px; text-align: center; margin: 60px 0 20px; }
  .attribution a { color: hsl(229, 24%, 91%); }

}

@media(min-width:481px){
  .App{
    max-height: 100vh;
    .faq-card-wrapper{
      .questions-and-answers{
        padding: 15px 30px;
       justify-content: center;
       .question{
         text-align: center;
       }
       .answer{
         flex-basis: 80%;
       }
      }
      .image-wrapper{
        left: 70px;
        .bgc-pattern{
          transform: translate(12px,-90px);
        }
      }
    }
  }
}
@media(min-width:768px){
  .App{
    height: 100vh;
    .faq-card-wrapper{
      .questions-and-answers{
        padding: 15px 30px;
       justify-content: center;
       .question{
         text-align: left;
       }
       .answer.active,.question.active{
        flex-basis: 60%;
      }
      }
      .image-wrapper{
        left: 220px;
        .bgc-pattern{
          transform: translate(12px,-90px);
        }
      }
    }
  }
}

@media(min-width:1025px){
  .App{
    padding: 200px 50px 100px;
    .faq-card-wrapper{
      overflow: hidden;
      padding: 70px 80px;
      width: 80%;
      .questions-and-answers{
          left: 50px;
          min-width: 320px;
          flex-basis: 40%;
          justify-content: flex-start;
          text-align: left;
          padding: 10px 0;
          .question{
            text-align: left;
            transition: .1s;
          }
         .title{
            flex-basis: 0%;        
            margin: 0 0 30px 0;
            padding: 0;
          }
          .answer.active,.question.active{
            flex-basis: 90%;
          }
      }
      .image-wrapper{
        position: relative;
        min-height: 300px;
        top: 20px;
        left: -170px;
        flex-basis: 50%;
        .svg-image{
          position:absolute;
          min-height: 320px;
          left: 0;
        }
        .bgc-pattern{
            min-width: 350px;
            position: absolute;
            transform: translate(-120px,210px);
        }
      }
    }
  }
}

@media(min-width:1201px){
  .App{
    .faq-card-wrapper{
        width: 70%;
      .questions-and-answers{
          min-width: 350px;
          flex-basis: 30%;
          .answer{
            flex-basis: 85%;
          }
      }
      .image-wrapper{
        .bgc-pattern{
            transform: translate(-130px,210px);
        }
      }
    }
  }
}

@media(min-width:1400px){
  .App{
    .faq-card-wrapper{
      .questions-and-answers{
          min-width: 400px;
      }
      .image-wrapper{
        .svg-image{
          min-height: 350px;
        }
        .bgc-pattern{
          min-width: 500px;
            transform: translate(-280px,210px);
        }
      }
    }
  }
}
@media(min-width:1600px){
  .App{
    .faq-card-wrapper{
      padding: 70px 0px;
      .questions-and-answers{
          min-width: 400px;
      }
      .image-wrapper{
        .svg-image{
          top:-30px;
          left: 50px;
          min-height: 400px;
        }
        .bgc-pattern{
          min-width: 500px;
            transform: translate(-240px,220px);
        }
      }
    }
  }
}